* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    background: #727980; 
    padding: 0;
    margin: 0;
}

body {
    background: #141c22;
    color: #fff;
    width: 100%;
    height: 100%;
    font-family: 'Montserrat Alternates', sans-serif;
    padding: 0;
    margin: 0;
}

.dropbtn {
    background: #ffb700;
    color: white;
    padding: 16px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    float: right;
    border-radius: 3px;
    box-shadow: 0px 1px 30px black;
}

.dropdown {
    position: relative;
    display: block;
    float: right;
    padding: 2rem;
}

.dropdown-content {
    display: none;
    position: relative;
    background: #fff;
    min-width: 160px;
    box-shadow: 0px 0px 60px #141c22;
    z-index: 1;
    left: 0;
    border-radius: 10px;
    width: 300px;
    float: right;
    margin: 0 auto 0 30%;
}

.dropdown-content a {
    color: black;
    padding: 7px 12px;
    text-decoration: none;
    display: block;
    margin: 0px;
    font-size: 2rem;
    text-align: center;
    font-weight: 300;
}


.dropdown-content a:hover {
    color: goldenrod;
    border-radius: 10px;
    padding-left: 3px;
    font-weight: 300;
}

.dropdown:hover .dropdown-content {
    display: block;
    margin: 20px 0 10px 0;
}

.dropdown .dropdown-content:after {
    width: 0px;
    height: 0px;
    position: absolute;
    top: 0%;
    right: 30px;
    content: '';
    transform: translate(0%, -100%);
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #fff;
}

.dropdown-content li {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 2rem 0 2rem;
    padding: 0 1rem;
    background: whitesmoke;
    border-radius: 0.2rem;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0,0,0,.2);
}


.dropdown:hover .dropbtn {
    background: goldenrod;
}

.social-part {
    display: flex;
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
}

.social-part a .fab, .fa, .fas {
    padding: 0.5rem;
    border: 0.122px solid  #141c22;
    border-radius: 6rem;
}

.social-part a .fa:hover {
    background: #ffe4b3;
}

.social-part a .fab:hover {
    background: #ffe4b3;
} 

.social-part a .fas:hover {
    background: #ffe4b3;  
}

.good {
    border: 3px solid #ffb700;
    border-radius: 5px;
    width: 2.1%; 
  }

  .logo-origin .site-logo  {
      font-size: 2.5rem;
      text-decoration: none;
      display: block;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 0.7px;
      font-size: 2.9rem;
      color: #fff;
  }

  .logo-origin {
      padding: 2rem;
  }

  .welcome-section {
      width: 100%;
      height: 100%;
  }

  .welcome {
      margin: 160px 50px 0 50px;
      padding-bottom: 20rem;
  }

  .welcome h1 {
      font-size: 6.5rem;
      font-weight: 500;
      letter-spacing: 1.5px;
      margin-top: 20px;
  }

  .welcome p {
      font-weight: 400;
      font-size: 3.2rem;
      color: #ababab;
      margin-top: 20px;
  }

  .welcome h1 span {
      color: #ffb700;
  }

  .welcome .text-a {
      margin-top: 3.5rem;
  }

  .text-a .buutn {
    display: inline-block;
    cursor: pointer;
    border-radius: 1000px;
    background: #e69500;
    font-weight: bold;
    color: #fff;
    font-size: 2.5rem;
    padding: 18px 32px;
    text-decoration: none;

}

.buutn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.buutn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }

  .buutn:hover span {
    padding-right: 25px;
  }

  .buutn:hover span:after {
    opacity: 1;
    right: 0;
  }

  .buutn:hover {
    background: #ff9100;
    border: 1px solid black;
  }


  #projects {
      background: #fff;
      padding-top: 18rem;
      padding-bottom: 10rem;
  }

  #projects h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #485055;
    padding: 6rem 0 1rem 10rem;
  }

  #projects .project-hr {
    border: 2px solid #e6e8e9;
    border-radius: 10px;
    margin-left: 10rem;
    margin-right: 10rem;
  }

  .project-grid {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    height: 100%;
    width: 80%;
    grid-row-gap: 50px;
    grid-column-gap: 50px;
    margin-top: 5rem;
    justify-content: center;
    align-content: center;
    margin: 5rem auto;
}


.item {
    display: flex;
    width: auto;
    background: whitesmoke;
    justify-content: center;
    justify-items: center;
    height: auto;
    padding-top: 5rem;
    padding-bottom: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    border-radius: 2rem;
}

.project-image {
    width: 100%;
    height: 90%;
    position: relative;
    box-shadow: 0 1px 15px rgba(0,0,0,.05), 0 5px 30px rgba(0,0,0,.2);
    border-radius: 1rem;
}

.item .project-title {
    text-align: center;
    font-size: 2.3rem;
    color: #7e8e9e;
    font-weight: 600; 
    margin-top: 3rem; 
}
   .item a {
       text-decoration: none;
   }

   #projects .item-6 {
       text-align: center;
       margin: 6rem 0 0 0;
   }

   .item-6 a {
    padding: 15px 40px;
    background: #e69500; 
    font-size: 2.3rem;
    color: #fff;
    font-weight: bold;
    display: inline-block;
    cursor: pointer;
    border-radius: 4rem;
}

   a .span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  a .span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  
    a:hover .span {
      padding-right: 25px;
    }
  
    a:hover .span:after {
      opacity: 1;
      right: 0;
    }

    .pro-p:hover {
        background: #ff9100;
        border: 1px solid #3a3e41;
    }


  .buutn-1 {
    display: inline-block;
    cursor: pointer;
    border-radius: 1000px;
    background: #e69500;
    font-weight: bold;
    color: #fff;
    font-size: 2.8rem;
    padding: 15px 32px;
    text-decoration: none;
  }
  .text-center{
    text-align: center;
}

  .text-c {
      margin-left: 6rem;
      margin-top: 4rem;
 }

 .buutn-1 span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buutn-1 span:after {
      content: '\00bb';
      position: absolute;
      opacity: 0;
      top: 0;
      right: -20px;
      transition: 0.5s;
    }
  
    .buutn-1:hover span {
      padding-right: 25px;
    }
  
    .buutn-1:hover span:after {
      opacity: 1;
      right: 0;
    }
  
    .buutn-1:hover {
      background: #ff9100;
      border: 1px solid #3c4a57;
    }
  

  .contact-flex {
      display: flex;
      flex-direction: row;
      width: 100%;
      height: 100%;
  }


  .contact-section-header {
      padding-top: 130px;
      padding-bottom: 130px;
}


  .contact-section-header h5 {
      margin-left: 6rem;
      color: #fff;
      font-size: 6rem;
      font-weight: 500;
  }

  .contact-section-header p {
      font-size: 2.5rem;
      color: rgba(255,255,255,.5);
      margin-left: 6rem;
      margin-top: 4rem;
  }

 .contact-links {
     display: flex;
    padding-top: 130px;
    padding-bottom: 110px;
    flex-direction: column;
    padding-left: 3rem;
    margin-left: auto;
    margin-right: auto;
  }

  .contact-links a {
      text-decoration: none;
      font-weight: bold;
      color: rgba(255,255,255,.5);
      line-height: 10vh;
      text-align: center;
      font-size: 2rem;
  }

  .contact-links a:hover {
      color: #fff;
  }

  .contact-links a .fab, .fas {
      margin: 1rem;
      font-size: 2.2rem; 
  }

  footer {
      font-size: 1.5rem;
      text-align: center;
  }

  .site-footer {
      padding: 4rem;
      background: rgb(14, 13, 13);
  }

  .site-footer p {
    text-align: center;
    font-size: 1.5rem;
    font-weight: 300;
    color: #727980;
  }



  @media only screen and (max-width: 1100px) {
      .row {
          grid-template-columns: auto;
          grid-gap: 50px;
          padding: 230px;
      }

      .wrapper h3 {
          font-size: 4.5rem;
          margin-bottom: -11rem;
          font-weight: bold;
      }

      .row .dev-all {
          height: 80vh;
      }

      .text-b .bt-row {
          font-size: 2.6rem;
          font-weight: 400;
          padding: 15px 30px;
      }

      .dev-all h4 {
          font-size: 2.9rem;
      }

      .dev-all p {
          font-size: 18px;
      }

      .contact-links {
          flex-direction: row;
          padding: 0;
          justify-content: flex-end;
          align-content: center;
          text-align: center;
      }

      .contact-flex {
        flex-direction: column;
        padding: 2rem;
      }

      .contact-section-header {
          padding-bottom: 30px;
          margin: 0;
      }

      .welcome {
        margin: 140px 30px 0 30px;
      }
      .welcome h1 {
        font-size: 6.5rem;
      }
      .welcome p {
          font-size: 2.9rem;

      }

      .contact-section-header h5 {
          font-size: 5.5rem;
          margin-left: 1.5rem;
      }

      .contact-section-header p {
          font-size: 2rem;
          margin-left: 1.5rem;
      }

      .text-c {
        margin-left: 3rem;
        margin-top: 3rem;
     }

     .text-a .buutn {
         padding: 17px 25px;
         font-size: 1.9rem;
     }

     .text-c .buutn-1 {
        padding: 15px 20px;
        font-size: 1.9rem;

     }

     .item .project-title {
        font-size: 1.7rem;
    }

    .project-grid {
        grid-column-gap: 20px;
    }

  }

  @media only screen and (max-width: 850px) {
      .row {
        grid-template-columns: auto;
          padding-left: 130px;
          padding-right: 130px;
      }

      .welcome h1 {
          font-size: 6rem;
      }

      .welcome p {
          font-size: 2.5rem;
      }

      .text-a .buutn {
          padding: 10px 20px;
      }

      .project-grid {
          grid-template-columns: auto;
      }

      .item .project-title {
          font-size: 2rem;
      }
  }

  @media only screen and (max-width: 770px) {
       .row {
           padding-left: 110px;
           padding-right: 110px;
       }

       .text-b .bt-row {
        padding: 14px 30px;
        font-size: 2rem;
    }

    .text-a .buutn {
        margin-top: 1.9rem;
    }

     .item {
         margin-left: 5rem;
         margin-right: 5rem;
    }

    .item .project-title {
        font-size: 2.2rem;
    }

    #projects h2 {
        font-size: 2.7rem;
        text-align: center;
        padding-left: 0;
    }

    .item-6 p {
        padding: 19px 30px;
        font-size: 2.7rem;
    }
 
    .buutn {
        padding: 18px 25px;
        font-size: 2.5rem;
    }

    .buutn-1 {
        padding: 18px 25px;
        font-size: 2.5rem;
    }


    .contact-section-header h5 {
        font-size: 3.5rem;
        margin-left: 2rem;
        text-align: center;
    }

    .contact-section-header p {
        font-size: 1.9rem;
        line-height: 3rem;
        text-align: center;
    }
    .text-c {
        text-align: center;
    }

    .contact-links a .fab, .fas {
        margin: 0.5rem;
        font-size: 1.8rem; 
    }

    .contact-links a {
        font-size: 1.5rem; 
    }
  
    .site-footer p {
        font-size: 1.3rem;
    }

    .logo-origin .site-logo {
        font-size: 2.2rem;
    }

    .good {
        border: 3px solid #ffb700;
        border-radius: 5px;
        width: 8%; 
      }

      .dropbtn {
          font-size: 13px;
      }
  }

  @media only screen and (max-width: 650px) {
      .row {
          padding-left: 40px;
          padding-right: 40px;
          padding-top: 170px;
      }
      .dev-all h4 {
          font-size: 2.5rem;
      }

      .dev-all p {
          font-size: 17px;
          font-weight: 400;
      }
      .wrapper h3 {
          font-size: 3.2rem;
      }

      .text-b .bt-row {
        padding: 15px 30px;
        font-size: 1.9rem;
    }

    .welcome h1 {
        font-size: 4.5rem;
        text-align: center;
        font-weight: 600;
      }
      .welcome {
          margin-left: 10px;
          margin-right: 10px;
      }

      .welcome p {
          font-size: 2.3rem;
          line-height: 3rem;
          text-align: center;
          font-weight: 400;
          margin-top: 4rem;
      }

      .text-a {
          text-align: center;
      }
      .text-a .buutn {
        margin-top: 3rem;
        padding: 15px 30px;
      }

      .item-6 a {
          font-size: 2rem;
      }
      
      .contact-links {
          padding: 0;
      }

      .contact-links a .fab, .fas {
        margin: 0.5rem;
        font-size: 1.5rem; 
    }

    .contact-links a {
        font-size: 1.2rem; 
    }

    .project-grid {
        margin: 3rem auto;
    }

    .item .project-title {
        font-size: 1.7rem;
    }

    .item {
        margin: 0;
    }

    .contact-section-header h5 {
        margin-left: 10px;
        margin-right: 10px;
        font-size: 2.5rem;
        font-weight: bold;
        padding: 0;
    }

    .logo-origin .site-logo {
        font-size: 1.7rem;
        font-weight: bold;
    }

    .text-c {
        margin-left: 0;
    }

  }